---
import { Image } from "astro:assets";
import type { ResumeItem, SkillItem } from "../types/config";

type Props = SkillItem;

const { icon, name } = Astro.props;
---

<a
  href='https://github.com/ijarndev'
  target="_blank"
  class="py-1 flex items-center justify-between"
>
  <div class="flex items-center gap-x-2 px-2 py-1 border-2 border-dashed border-[#808080] rounded-md">
    <Image
      src={icon}
      alt={name}
      width={40}
      height={40}
      class="w-[36px] h-[36px] object-cover"
    />
    <span>{name}</span>
  </div>
</a>
